.r-item-content {
    display: flex;
    padding-top: px2rem(15);
    padding-bottom: px2rem(15);
    margin-left: px2rem(10);
    margin-right: px2rem(10);
    color: #656565;
    &:after {
        background-color: #e4e4e4;
    }
    .item-img {
        width: px2rem(86);
        height: px2rem(65);
        border: 1px solid #e4e4e4;
    }
    .item-info-content {
        flex: 1;
        margin-left: px2rem(7);
        overflow: hidden;
    }
    .brand {
        position: absolute;
        left: px2rem(1);
        top: px2rem(16);
        font-size: px2rem(12);
        padding: px2rem(2);
        color: #fff;
    }
    .brand-pin {
        background-color: #ffa627;
    }
    .brand-xin {
        background-color: #21c56c;
    }
    .item-title {
        margin-top: px2rem(3);
        font-size: px2rem(16);
        font-weight: 500;
        color: #333;
    }
    .item-desc {
        margin-top: px2rem(13);
        font-size: px2rem(12);
    }

    .item-score {
        float: left;
    }
    .item-count {
        float: left;
        margin-left: px2rem(5);
    }
    .item-time {
        float: right;
    }
    .item-distance {
        float: right;
    }
    .item-price {
        margin-top: px2rem(10);
        font-size: px2rem(12);
        height: px2rem(24);
    }
    .item-meituan-flag {
        float: right;
        background-color: #ffd161;
        color: #000;
        padding: px2rem(3);
        border-radius: px2rem(3);
    }
    .other-info {
        color: #898989;
        margin-top: px2rem(7);
        font-size: px2rem(12);
        display: flex;
    }
    .other-tag {
        width: px2rem(14);
        height: px2rem(14);
    }
    .other-content {
        vertical-align: px2rem(3);
        margin-left: px2rem(3);
        height: px2rem(14);
        width: px2rem(230);
    }
    .item-pre-price {
        float: left;
    }

}