
.category-content {
    padding-bottom: px2rem(10);
    .category-item {
        float: left;
        width: 25%;
        padding-top: px2rem(14);
        font-size: px2rem(13);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-icon {
        width: px2rem(47);
    }
    .item-name {
        margin-top: px2rem(14);
    }
}